@media (max-width: 400px) {
  body {
    background-color: lightcoral;
  }
}

@media (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: goldenrod;
  }
}

@media (min-width: 961px) {
  body {
    background-color: lightskyblue;
  }
}
